*credentials*
!*.example
.env
.vscode/

# dbt generated
my_project/target/
my_project/dbt_packages/
my_project/logs/
logs/

.DS_Store

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
